:root {
  --color-bg: #fff8dc;
  --color-text: #000000;
  --color-link: #8b0000;
  --color-bg-secondary: #ffffff;
  --border: 2px solid #daa520;
  --box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
  --font-family-heading: ui-rounded, "Hiragino Maru Gothic ProN", Quicksand, Comfortaa, Manjari, "Arial Rounded MT", "Arial Rounded MT Bold", Calibri, source-sans-pro, sans-serif;
  --font-family-body: Rockwell, "Rockwell Nova", "Roboto Slab", "DejaVu Serif", "Sitka Small", serif;
  --link-decoration: underline;
  --link-decoration-hover: underline;
  --link-decoration-style: dashed;
  --header-text-color: #8b0000;
  --main-heading-color: #b22222;
  --form-button-border: 2px solid #ffd700;
  --form-button-hover-border: 2px solid #8b0000;
}


/* body_classes: header-centered, headings-centered */